@import "../base.scss";

#html5qr-code-full-region__scan_region{
  img{
    width: 100%;
    max-height: 300px;
    max-width: 250px;
  }
}

@media (width > 500px){
  #html5qr-code-full-region__scan_region{
    img{
      width: 100%;
      max-height: 300px;
    }
  }
  
}

.voto-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .msg-resul{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 400px;

    &.error{
      h2{
        color: rgb(238, 60, 60);
      }
    }
    &.success{
      h2{
        color: rgb(0, 223, 118);
      }
    }
    h2{
      font-size: 1.5rem;
      text-align: center;

    }

    img{
      width: 70%;
    }
  }
  .qr-container{
    width: 100%;
    display: grid;
    place-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .qr-scanner{
    width: 100%;
    border: none;
  }
}