@use './_QRscanner';
@import "../base.scss";

.select-mode{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-content: center;
  margin-bottom: 1em;
  
  button{
    outline: 2px solid $dark;
    margin: 0;
    border-radius: 0;
    background-color: #85a9ff;
    color: $dark;
    font-weight: 600;
  }
}

h3{
  color: $dark;
}
.form-input-material{
  width: 100%;
  input.form-control-material{

    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $light;
  }
  label{
    font-size: 1.5rem;
  }
}

.submit-code{
  margin: 1em auto 0;
  width: 150px;
  font-size: 1,2rem;
}