@import "../base.scss";
.container-user-form{
  display:grid;
  place-items: center;
  font-size: 1.3rem;
  height: 70vh;
}
.user-form{
  display: flex;
  flex-direction: column;
  max-width: 350px;


  h1{
    font-size: 1.5rem;
  }
  input{
    padding: .5em;
  }
  .selection label {
    /* Estilos para las etiquetas de los select */
    display: block;
    font-weight: bold;
    padding: 1em;
    font-size: 1.3rem;

    select{
      background: #000;
      padding: 1em;
      option{
        font-size: 5rem;
      }
    }
  }
  
  .selection select {
    /* Estilos para los select */
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    margin-top: 1em;
    background: $green;
    color: #fff;
    padding: .5em 1em;
    border: none;
    border-radius: 10px;
  }
}