.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: rgba(138, 80, 80, 0.11);
  padding: 0 1em;

  .nav-list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    top: -40vw;
    right: -50vw;
    height: 130vw;
    width: 130vw;
    clip-path: circle(0% at 50% 50%);
    padding: 0 0 30vw 10vw;
    font-size: 9vw;
    line-height: 1.3;
    background: rgb(30, 196, 173);
    transition: clip-path .2s ease-in-out;
    &.active{
      clip-path: circle(50% at 50% 50%);
    }
    a{
      color: #fff;
      margin-left: 1em;
    }
   
  }
  
}
$dark: #212121;
$light: #efefef;
$color: #b3e5fc;
@mixin btn($left, $top) {
  width: 60px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $light;
  border-radius: 1em;

}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $light;
  content: "";
  top: $top;
  border-radius: 1em;

}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $light;
  content: "";
  top: $top;
  border-radius: 1em;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
  
}

.btn2{
  @include btn(120px, 100px);
  
  .icon {
    @include icon(8px, 50px);
    
    &:before{
      @include icon-before(8px, 50px, -17px);
    }
    
    &:after{
      @include icon-after(8px, 50px, 17px);
    }
  }
  
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(12px, 9px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(11px, -9px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}


@media screen and (min-width:720px){
  .navbar{
    .nav-list{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: right;
      position: relative;
      background: none;
      top: 0vw;
      right: 0vw;
      width: 100vw;
      height: 100%;
      clip-path: none;
      padding: 0 ;
      font-size: 1em;
      line-height: 1;
      // background: none;
      transition: clip-path .2s ease-in-out;
      &.active{
        clip-path:none
        
      }
    }

    .menu{
      display: none;
    }
  }
}