@use './navbar.scss';
@use './cards.scss';
@use './acordion.scss';
@use './loginForm.scss';
@use './voto';
@use './informacion';
@use './notFount';
@use './BarChart';

body{
  background: #f8f8f8;
}
.contenedor-main{
  width: 100%;
  max-width: 2000px;
  padding: 0 1em;
  margin:0 auto;
}