@import "../base.scss";
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

.Scanner-Video-Render{
  border-radius: 10px;
  border: $light 1px solid;
}
@media (max-width: 768px) {
    .Scanner-Video-Render {
        margin: 0 auto;
       width: 90%;

    }
  }

  .voto-container {
    div{
      width: 100%;
      display: grid;
      place-items: center;
    }
  }
  .video-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%; 
    
}
  .button-cancel-camera{
    margin: 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: $medium;
    color: white;
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    transition: all 0.3s ease; // Transición de color

  &:hover {
    background-color: $light;
    transform: scale(1.01);
  }
}


.error{
  width: 60%;
  max-width: 500px;
  margin: 0 auto;

  img{
    width: 100%;
    opacity: .9;
  }
  h2{
    font-size: 1.5rem;
    color: #cf4b4b;
  }
}