*{
  box-sizing: border-box;
}

html{
  font-family: 'Montserrat', sans-serif;
}

$dark:#264385;
$medium:#264385;
$light:#3261CB;
$green:#32cb60;

.public{
  padding-top: 70px;
}

.display-none{
  display: none;
}

button{
  background: $light;
  color: #fff;
  padding: 1em .5em;
  font-size: 1.3rem;
  border:none;
  border-radius: 5px;
}

#html5qr-code-full-region__scan_region{
  img{
    width: 100%;
    max-width: 200px;
  }
}

@media (width > 500px){
  #html5qr-code-full-region__scan_region{
    img{
      width: 100%;
      max-width: 400px;
    }
  }
  
}